{% extends "base.html" %}

{% block content %}
<style>
        body {
            background-size: cover;
            background-image: none; 
        }

    </style>

    <h1>Delete Recipe</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="alert-warning">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=80) }}<br>
            {% for error in form.title.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>Are you sure? There is no going back... </p>
        <p>{{ form.submit() }}</p>
        </div>
    </form>
{% endblock %}